#tweet-head {
	padding: 0;
	margin: 0;
}

#hash ul {
	padding-left: 20px;
	padding-right: 20px;
}

#hash li:hover {
	background: black;
	color: red;
}

#hash li.active {
	background: black;
	color: red;
}

.hash:hover {
	background: black;
	color: red;
}

.hash.active {
	background: black;
	color: red;
}
